<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',path='/partners/css/zaglushka.css') }}">
    <title>random coffee</title>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1>Спасибо за оставленную заявку! В течении недели мы будем собирать другие анкеты.</h1>
        <div class="date">
            <p>Загляните на сайт 27.04.24</p>
        </div>
    </div>
    <div class="image">
        <img src="{{ url_for('static',path='/img/icon.png') }}">
        <a href="{{url_for('index')}}" alt="#">
            <button>Выйти</button>
        </a>
    </div>
</div>
</body>
</html>