<link href="{{ url_for('static',path='/css/style.css') }}" rel="stylesheet">
<div class="header">
    <a href="{{ url_for("index") }}">
        <div class="logo">
            <img src="{{ url_for('static',path='img/logo.png') }}" alt="#">
        </div>
    </a>
    <ul class="header__list">
        <li><a href="{{ url_for('worksheet') }}">{% if not current_user.worksheet %}
            Заполнить анкету
        {% else %}
            Редактировать анкету
        {% endif %}
        </a></li>
        {% if current_user %}
            <li><a href="{{ url_for('partners') }}">Посмотреть профили</a></li>
        {% endif %}
    </ul>
</div>